body {
  font-family: Arial;
  width: 200opx;
  height: 10000px;
  /*padding: 50px; */
}

h3 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  cursor: pointer;
}
